{% extends "::base.html.twig" %}

{% block title %}FrontOfficeBundle:DeplacementController:create{% endblock %}

{% block body %}
<h1>Welcome to the DeplacementController:create page</h1>
{% endblock %}
