{% extends "::fronttemplate.html.twig" %}

{% block title %}FrontOfficeBundle:DeplacementController:create{% endblock %}

{% block body %}
<h1>Welcome to the DeplacementController:create page</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="Create" />
{{ form_end(form) }}
{% endblock %}