{% extends 'BackOfficeBundle:Default:backtemplate.html.twig' %}

{% block body %}

    <h1>Statistiques</h1>

    <table id="indextables">
        <tr>
            <th>Societe</th>
            {% for month in months %}
                <th>{{ month }}</th>
            {% endfor %}
        </tr>
        {% for key, value in kmPerMonthPerUserPerSociety %}
            <tr>
                <td>{{ key }}</td>
                {% for monthNb in value %}
                <td>
                    {% for keyb, value in monthNb %}
                        {{keyb}} : {{value}} Km
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
