{% extends 'BackOfficeBundle:Default:backtemplate.html.twig' %}

{% block body %}
    
    <pre>
        {{ dump(usersPerCity) }}
    </pre>
    <pre>
        {{ dump(kmAndUsersPerSociety) }}
    </pre>

    <ul>
        <li>
            <a href="{{ path('back_index') }}">Back to admin panel</a>
        </li>
    </ul>
{% endblock %}
