{% extends 'BackOfficeBundle:Default:backtemplate.html.twig' %}

{% block body %}
    

    <ul>
        <li>
            <a href="{{ path('back_index') }}">Back to admin panel</a>
        </li>
    </ul>
{% endblock %}
