{# Homepage #}

{% extends 'BackOfficeBundle:Default:backtemplate.html.twig' %}

{% block body %}
    <div id="wp" style="background-image: url({{ asset('bundles/backoffice/img/280639.jpg') }}">
        <div id="maintext">ikVelo</div>
    </div>
{% endblock %}