{% extends 'BackOfficeBundle:Default:backtemplate.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Admin Panel</h1>
        </div>
    </div>
{% endblock %}