{% extends "::fronttemplate.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bonjour M. {{userFirstname}} {{userLastname}}</h1>
<a href="{{ path('front_deplacements_list') }}">Liste</a>
{% endblock %}