{% extends 'FrontOfficeBundle:Default:fronttemplate.html.twig' %}

{% block title %}FrontOfficeBundle:Deplacement:edit{% endblock %}

{% block body %}
<a href="{{path('front_landing')}}">Accueil</a>
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="Edit" />
{{ form_end(form) }}
{% endblock %}
